.git/
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
.pnpm-store/
dump.rdb
#//////////////////////////
# VSCode
#//////////////////////////
# .vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
supervisord.log